{% extends "base.html.twig" %}
{% block title %}Simplon Charleville {% endblock %}
{% block body %}

<main class="home">
    <section class="learn box">
        <div class="container">
            <h3  class="far fa-user"></h3>
            <p>Vous souhaitez</p>
            <h3>Apprendre ?</h3>
            <a href="#" class="buttonprolearn">Cliquez-ici</a>
        </div>

    </section>
        
    <section class="project box">
        <div class="container">
            <h3 class="far fa-comment-dots"></h3>
            <p>Vous souhaitez</p>
            <h3>Proposer un Projet ?</h3>
            <a href="#" class="buttonprolearn">Cliquez-ici</a>
        </div>

    </section>

    <section class="internship box">
        <div class="container">
            <h3  class="far fa-handshake"></h3>
            <p>Vous souhaitez</p>
            <h3>Engager Un Stagiare ?</h3>
            <a href="#" class="buttoninternhelp">Cliquez-ici</a>
        </div>

    </section>
        
    <section class="help box">

        <div class="container">
            <h3  class="far fa-question-circle"></h3>
            <p>Vous souhaitez</p>
            <h3>Nous Aider ?</h3>
            <a href="#" class="buttoninternhelp">Cliquez-ici</a>
        </div>

    </section>

    <section class="circular-menu">
        <div class="circle">
            <a href="" class="fab fa-linkedin-in"></a>
            <a href="" class="i"></a>
            <a href="" class="i"></a>
            <a href="" class="i"></a>
            <a href="" class="i"></a>
            <a href="" class="fas fa-comment-dots fa-2x"></a>
            <a href="" class="fab fa-twitter fa-2x"></a>
            <a href="" class="fab fa-google-plus-g fa-2x"></a>
            <a href="" class="fab fa-facebook-square fa-2x"></a>
        </div>

        <a href="" class="menu-button fas fa-info fa-2x"></a>

    </section>

</main>

{% endblock %}