{% block form_row %}
{% spaceless %}
    <div class="form_row">
        <div class='error_msg'>
        {% if not form.vars.valid %}
        <i class="fas fa-exclamation-circle"></i>
        {% endif %}
        {{ form_errors(form)}}
        </div>
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}